<.toggle_superhost superhost={@superhost}>Superhost</.toggle_superhost>

<div class="mt-5 grid grid-cols-4 gap-x-6 gap-y-10" id="rooms-list">
  <div :for={room <- @rooms} class="bg-white flex flex-col justify-between">
    <.live_component module={RoomComponent} id={room.id} room={room} viewer={@current_user} />
  </div>
</div>
