<button phx-click="click" class="border b-1 px-2 bg-gray-700 text-white">click me</button>

<div class="mt-5 grid grid-cols-4 gap-x-6 gap-y-10" id="rooms-list">
  <div class="bg-white flex flex-col justify-between" :for={room <- @rooms}>
    <.room>
      <:title><%= room.title %></:title>
      <:price><%= room.price %></:price>
      <:cover_image src={room.cover_image} />
      <:location><%= "#{room.location} &bull; #{room.country}" %></:location>
    </.room>
  </div>
</div>
